parameters:
    level: 9
    paths:
        - src/
        - tests/
    ignoreErrors:
        -
            messages:
                - '#Call to an undefined method Pest\\PendingCalls\\TestCall\:\:expect\(\).#'
                - '#Undefined variable\: \$this#'
            path: tests/
    